#jogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  padding: 20px 0;
}

.portas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.botoes {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.botoes button {
  background-color: #c0392c;
  color: #fff;
  font-size: 2rem;
  border: none;
  padding: 10px 25px;
  transition: 0.2s;
}

.botoes button:hover {
  filter: brightness(0.8);
  transform: scale(1.02);

}
