.area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--area-porta-largura);
  height: var(--area-porta-altura);
  margin: 10px;
  position: relative;
}

.batente {
  display: flex;
  flex-grow: 1;
  flex-direction: column-reverse;
  width: 90%;
  border: 5px solid brown;
  border-bottom: none;
  background-color: #0005;
}

.porta {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  background-color: chocolate;
  padding: 15px;
}

.porta:hover {
  filter: brightness(.94);
}

.porta:hover .numero{
  transform: scale(1.1);
}

.numero {
  font-size: 3rem;
}

.piso {
  height: 10px;
  width: 100%;
  background-color: #ddd;
}

.macaneta {
  height: 40px;
  width: 10px;
  border-radius: 10px;
  background-color: brown;
  position: absolute;
  align-self: flex-start;
  top: 45%;
}

.selecionada {
  border: 5px solid #ffd000;
  border-bottom: none;
}

.selecionada .numero {
  color: yellow;
}

.selecionada .macaneta {
  background-color: yellow;
}
